
.main-body-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color:  black;
}

.schedule-appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  border: 1px solid black;
  background-color: rgba(255, 0, 89, 0.162);
  padding: 3rem 2rem 1.8rem 2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.schedule-container-fields {
  display: flex;
  gap: 2rem;
}

.each-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field-label {
  font-size: 1.2rem;
}

.submit-btn {
  color: white;
  background-color: rgb(0, 102, 255);
  border: none;
  margin-top: 0.6rem;
  font-size: 1.2rem;
  border: 2px solid gray;
  width: 100%;
  border-radius: 2.5rem;
  padding: 0.2rem 1rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}

.submit-btn:hover {
  background-color: rgb(49, 230, 49);
  color: black;
  transition: background-color 0.15s, color 0.15s;
  -webkit-transition: background-color 0.15s, color 0.15s;
  -moz-transition: background-color 0.15s, color 0.15s;
  -ms-transition: background-color 0.15s, color 0.15s;
  -o-transition: background-color 0.15s, color 0.15s;
}

.submit-btn:active {
  opacity: 0.5;
  transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
}


.view-btn {
  background-color: rgb(75, 255, 47);
}